[submodule "vendor/github.com/PuerkitoBio/goquery"]
	path = vendor/github.com/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery.git
[submodule "vendor/github.com/andybalholm/cascadia"]
	path = vendor/github.com/andybalholm/cascadia
	url = https://github.com/andybalholm/cascadia.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/github.com/uber-go/zap"]
	path = vendor/github.com/uber-go/zap
	url = https://github.com/uber-go/zap.git
[submodule "vendor/github.com/go-yaml/yaml"]
	path = vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml
[submodule "vendor/github.com/gocraft/dbr"]
	path = vendor/github.com/gocraft/dbr
	url = https://github.com/gocraft/dbr
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
