language: go
sudo: false
go:
  - 1.10.x
go_import_path: github.com/echoturing/buyhouse

cache:
  directories:
    - vendor

services:
  - mysql

before_install:
  - mysql -uroot -e 'CREATE DATABASE local_test DEFAULT CHARACTER SET utf8;'
  - find sql -name "*.sql" | awk '{ print "source" ,$0}' | mysql -u root --batch local_test

install:
  - git submodule update --init --recursive

script:
  - go list ./...  | grep -v vendor | xargs go test
